<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Intel RealSense D435 Camera Properties -->
  <xacro:property name="realsense_cam_width" value="0.090"/>
  <xacro:property name="realsense_cam_height" value="0.025"/>
  <xacro:property name="realsense_cam_depth" value="0.025"/>
  <xacro:property name="realsense_cam_mass" value="0.072"/>

  <xacro:macro name="depth_camera_sensor" params="parent *origin name:=camera">
    
    <material name="realsense_aluminum">
      <color rgba="0.5 0.5 0.5 1.0"/>
    </material>

    <!-- Camera Joint -->
    <joint name="${name}_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${name}_link"/>
    </joint>

    <!-- Camera Link -->
    <link name="${name}_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${realsense_cam_depth} ${realsense_cam_width} ${realsense_cam_height}"/>
        </geometry>
        <material name="realsense_aluminum"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${realsense_cam_depth} ${realsense_cam_width} ${realsense_cam_height}"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="${realsense_cam_mass}"/>
        <inertia
          ixx="0.000003881" ixy="0.0" ixz="0.0"
          iyy="0.000000410" iyz="0.0"
          izz="0.000003881"/>
      </inertial>
    </link>

    <!-- Camera Depth Optical Frame -->
    <joint name="${name}_depth_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
      <parent link="${name}_link"/>
      <child link="${name}_depth_frame"/>
    </joint>

    <link name="${name}_depth_frame"/>

    <joint name="${name}_depth_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="${name}_depth_frame"/>
      <child link="${name}_depth_optical_frame"/>
    </joint>

    <link name="${name}_depth_optical_frame"/>

    <!-- Camera Color Optical Frame -->
    <joint name="${name}_color_joint" type="fixed">
      <origin xyz="0 0.015 0" rpy="0 0 0"/>
      <parent link="${name}_depth_frame"/>
      <child link="${name}_color_frame"/>
    </joint>

    <link name="${name}_color_frame"/>

    <joint name="${name}_color_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="${name}_color_frame"/>
      <child link="${name}_color_optical_frame"/>
    </joint>

    <link name="${name}_color_optical_frame"/>

  </xacro:macro>

</robot>