<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="controller_config_file" default=""/>

  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>
    
    <!-- Front Left Wheel -->
    <joint name="front_left_joint">
      <command_interface name="velocity">
        <param name="min">-50</param>
        <param name="max">50</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    
    <!-- Front Right Wheel -->
    <joint name="front_right_joint">
      <command_interface name="velocity">
        <param name="min">-50</param>
        <param name="max">50</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    
    <!-- Back Left Wheel -->
    <joint name="back_left_joint">
      <command_interface name="velocity">
        <param name="min">-50</param>
        <param name="max">50</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    
    <!-- Back Right Wheel -->
    <joint name="back_right_joint">
      <command_interface name="velocity">
        <param name="min">-50</param>
        <param name="max">50</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

  </ros2_control>

  <!-- Gazebo ros2_control plugin -->
  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <parameters>$(arg controller_config_file)</parameters>
    </plugin>
  </gazebo>

</robot>